<div class="item {{fragileCssClasses}}">
  <a href="#" class="name">{{name}}</a>

  <div class="details">
    <p class="description">{{description}}</p>

    {{#if runnable}}
      <p class="measured">{{results/measured}}</p>
      {{#results}}
        {{#if messages}}
          <h5>Test failures:</h5>
          <ul class="messages">
            {{#messages}}
              <li class="message">{{linkify .}}</li>
            {{/messages}}
          </ul>
        {{/if}}

        {{#if metrics}}
          <h5>Metrics:</h5>
          <dl class="metrics">
            {{#metrics}}
              <dt>{{name}}</dt>
              <dd>{{value}} {{units}}</dd>
            {{/metrics}}
          </dl>
        {{/if}}

        {{#if bar_graph}}
          <h5>Graph:</h5>
          {{makeChart}}
        {{/if}}
      {{/results}}
    {{else}}
      <h5>Could not run test</h5>

      <p class="norun-message">{{norun_message}}</p>
    {{/if}}
  </div>
</div>
